<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="1%" fxLayoutAlign="center">

    <mat-card>
      <form class="example-form" [formGroup]="paperForm" (ngSubmit)="upload()">

        <mat-form-field class="example-full-width">
          <mat-label>Subject</mat-label>
          <mat-select matNativeControl name="qSubject" formControlName="qSubjectValidator">
            <mat-option value="physics">Physics</mat-option>
            <mat-option value="chemistry">Chemistry</mat-option>
            <mat-option value="cmaths">C.Maths</mat-option>
          </mat-select>

          <mat-error *ngIf="qSubjectValidator.invalid">This field is required!</mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Question type</mat-label>
          <mat-select matNativeControl name="qType" formControlName="qTypeValidator">
            <mat-option value="mcq">MCQ</mat-option>
            <mat-option value="assay">Assay</mat-option>
            <mat-option value="structured">Structured</mat-option>
          </mat-select>
          <mat-error *ngIf="qTypeValidator.invalid">This field is required!</mat-error>

        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Question Number</mat-label>
          <input matInput placeholder="Ex: Part A: Q-24" value="" name="qNumber" [formControl]="qNumberValidator">
          <mat-error *ngIf="qNumberValidator.invalid">This field is required!</mat-error>

        </mat-form-field> 


        <input mat-input type="file" (change)="setImage($event)" accept=".png,.jpg" />


        <button mat-raised-button type="submit">save</button>

      </form>
    </mat-card>

    <!-- <mat-card>
      <label for="file">File:</label>
      <input mat-input type="file" (change)="upload($event)" accept=".png,.jpg" />
    </mat-card> -->
 
  </div>