<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>DB Solutions</span>
    <span class="example-spacer"></span>
    <!-- <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">verified_user</mat-icon> -->
  </mat-toolbar-row>
</mat-toolbar>


<div style="margin-top: 15px;" class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="1%" fxLayoutAlign="center">

    <mat-card>
      <form class="example-form" [formGroup]="paperForm" (ngSubmit)="onFormSubmit()">

        <mat-form-field class="example-full-width">
          <mat-label>Subject</mat-label>
          <mat-select matNativeControl name="qSubject" formControlName="qSubjectValidator">
            <mat-option value="physics">Physics</mat-option>
            <mat-option value="chemistry">Chemistry</mat-option>
            <mat-option value="cmaths">C.Maths</mat-option>
          </mat-select>

          <mat-error *ngIf="qSubjectValidator.invalid">This field is required!</mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Question type</mat-label>
          <mat-select matNativeControl name="qType" formControlName="qTypeValidator">
            <mat-option value="mcq">MCQ</mat-option>
            <mat-option value="assay">Assay</mat-option>
            <mat-option value="structured">Structured</mat-option>
          </mat-select>
          <mat-error *ngIf="qTypeValidator.invalid">This field is required!</mat-error>

        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Question Number</mat-label>
          <input matInput placeholder="Ex: Part A: Q-24" value="" name="qNumber" [formControl]="qNumberValidator">
          <mat-error *ngIf="qNumberValidator.invalid">This field is required!</mat-error>

        </mat-form-field> 

        <div style="margin: 10px;">

            <label class="custom-file-upload">
              <input  type="file"  (change)="setImage($event)" accept=".png,.jpg"/>
              <i class="fa fa-cloud-upload"></i> Select File
            </label>
            <span *ngIf="imageFile">{{imageFile['name']}}</span>
        </div>
        <mat-progress-bar *ngIf="uploadProgress" mode="determinate" [value]="(uploadProgress | async)"></mat-progress-bar>

        <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="1%" fxLayoutAlign="center">
           <img *ngIf="imageFile" [src]="imageSrc" class="imgPreview"/>
        </div>


        <button mat-raised-button color="primary" type="submit" style="border-radius: 50px;float: right;">save</button>

      </form>
    </mat-card>

    <!-- <mat-card>
      <label for="file">File:</label>
      <input mat-input type="file" (change)="upload($event)" accept=".png,.jpg" />
    </mat-card> -->
 
  </div>